body{
    font-family: arial;
    background: #333;
    padding: 0;
    margin: 0;
}
body *{
    margin: 0;
    padding: 0;
}
a, button{
    background: none;
    border: none;
    transition: .6s;
    text-transform: none;
    cursor: pointer;
}
a:hover, button:hover{
    opacity: .6;
}